<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite">
    <test name="Task 17">
        <classes>
            <class name="lesson17.Task17a" />
            <class name="lesson17.Task17b" />
            <class name="lesson17.Task17c" />
            <class name="lesson17.Task17d" />
        </classes>
    </test>
</suite>
